.innersContainer {
  composes: custom_scroll from global;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 0.5em;
  max-block-size: calc(100vh - 22em);
  overflow-y: auto;
  padding-inline-end: 1.5em;
}

.noIngredient {
  padding: 1.5em;
  margin: 0.5em 0 0.5em 1.5em;
}
