@use "../../styles/variables";

.container {
  composes: custom_scroll from global;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: normal;
  gap: 2em;
  max-inline-size: 100vw;
  overflow-y: auto;
}

.ingredients {
  display: flex;
  width: 100%;
  flex-flow: column nowrap;
  min-block-size: 20rem;
}

.ingredient {
  composes: noselect from global;
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  align-items: center;
  cursor: grab;
}

@media (min-width: variables.$breakpoint-md) {
  .container {
    overflow: hidden;
    justify-content: center;
  }

  .ingredient {
    gap: 1em;
  }
}
