@use "../../styles/variables";

.container {
  composes: pt-5 pb-5 from global;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: auto;
}

.header {
  composes: text text_type_digits-large shadowed_text mb-8 from global;
}

.subHeader {
  composes: text text_type_main-medium mb-15 pl-10 pr-10 custom_scroll from global;
  text-align: center;
}

.image {
  composes: mb-15 from global;
}

.message {
  composes: text text_type_main-default mb-2 from global;
}

.subMessage {
  composes: text text_type_main-default text_color_inactive from global;
}

.link {
  color: inherit;
}

@media (min-width: variables.$breakpoint-md) {
  .container {
    max-inline-size: 70ch;
  }

  .subHeader {
    max-block-size: 3.5em;
    overflow-y: auto;
  }
}
