@use "../../../styles/colors";
@use "../../../styles/variables";

.container {
  position: relative;
  display: grid;
  block-size: 100%;
  grid-template:
    "header" auto
    "content" 1fr / 100%;
  max-block-size: 100vh;
}

.content {
  composes: pt-8 from global;
  margin: 0 auto;
  inline-size: 100%;
  max-inline-size: variables.$app-max-inline-size;
}

.heading {
  composes: text text_type_main-large mb-5 from global;
  text-align: center;
}

@media (min-width: variables.$breakpoint-md) {
  .heading {
    text-align: start;
  }
}
