$breakpoint-md: 1000px;
$app-max-inline-size: 1240px;
$input-width: 480px;
$profile-edit-top-space: 7rem;
$bun-top-border-radius: 70px 70px 30px 30px;
$bun-bottom-border-radius: 30px 30px 70px 70px;
$inner-border-radius: 30px;
$ingredients-chips-z-index: 20;
