@use "../../styles/variables.scss";

.container {
  composes: pt-8 from global;
  margin: 0 auto;
  max-inline-size: variables.$app-max-inline-size;
}

.main {
  display: grid;
  max-width: 100vw;
  align-items: normal;
  gap: 3vw;
  grid-template: "ingredients" 1fr "summary" auto / 1fr;
}

.heading {
  composes: text text_type_main-large mb-5 from global;
  text-align: center;
}

.main > section:first-child {
  grid-area: ingredients;
}

@media (min-width: variables.$breakpoint-md) {
  .main {
    grid-template: "ingredients constructor" 1fr "ingredients summary" auto / 1fr minmax(
        80ch,
        1fr
      );
  }

  .heading {
    text-align: left;
  }
}
