.dropContainer {
  composes: text text_type_main-medium p-2 from global;
  background: transparent;
  text-align: center;
}

.dropContainer_top,
.dropContainer_bottom {
  margin-inline: 2em 1.5em;
}

.dropContainer_top {
  border-radius: 70px 70px 30px 30px;
}

.dropContainer_bottom {
  border-radius: 30px 30px 70px 70px;
}

.dropContainer_middle {
  border-radius: 30px;
}

.canDrop {
  background-image: linear-gradient(32deg, #e487fc, #a770ff, #64c6ff);
  box-shadow:
    0 0 10px 10px #ff00c8 inset,
    0 0 20px 20px #2289e9 inset;
  transition: all 0.2s ease-in-out;
}

.isOver {
  background-image: linear-gradient(76deg, #f0fc87, #70ff77, #ff64be);
  box-shadow:
    0 0 10px 5px #ffe600 inset,
    0 0 20px 10px #e92264 inset,
    0 0 5px 5px #e99de9;
}
