@use "../../../styles/variables";
@use "../../../styles/colors";

.summary {
  composes: text_type_digits-default p-2 from global;
  display: flex;
  align-items: center;
  align-self: flex-end;
  justify-content: flex-end;
  padding-block-end: 10px;
}

.summaryMobile {
  position: fixed;
  background: colors.$dark-blue;
  inset-block-end: 0;
  inset-inline: 0;
}

@media (min-width: variables.$breakpoint-md) {
  .summary {
    margin-inline-end: 1.5em;
  }
}
