@use "../../../../styles/variables";

.content {
  grid-area: content;
  padding-block-start: 3rem;
}

@media (min-width: variables.$breakpoint-md) {
  .content {
    padding-block-start: initial;
  }
}
