.constructorElementMobile {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  inline-size: 100%;
}

.image {
  block-size: auto;
  inline-size: 5ch;
}

.name {
  composes: text text_type_main-default from global;
  text-align: start;
}

.price {
  composes: text text_type_digits-default from global;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 0.3ch;
  margin-inline: auto 1ch;
}

.constructorElementMobile[data-islocked="true"] .price {
  margin-inline-end: 1.2ch;
}

.delete {
  flex-shrink: 0;
  margin-inline-end: 1ch;
}
