$chip-size: 4rem;

.chip {
  position: relative;
  background-image: linear-gradient(to bottom, #0e5699, #d31bc4);
  block-size: $chip-size;
  clip-path: circle($chip-size * 0.5);
  inline-size: $chip-size;
}

.image {
  background-color: #000;
  clip-path: circle($chip-size * 0.5 - 0.2rem);
  object-fit: cover;
}

.chip[data-with-label="true"] {
  .image {
    filter: brightness(0.5);
  }

  .label {
    position: absolute;
    inset: 0;
    line-height: calc($chip-size / 1rem);
    text-align: center;
  }
}
