@use "./styles/variables";
@import "../node_modules/minireset.css/minireset.sass";

.custom_scroll {
  scrollbar-color: #8585ad #2f2f37;
  scrollbar-width: thin;
}

@supports selector(::-webkit-scrollbar) {
  .custom_scroll {
    scrollbar-color: auto;
    scrollbar-width: auto;
  }

  .custom_scroll::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  .custom_scroll::-webkit-scrollbar-track {
    background: #2f2f37;
  }

  .custom_scroll::-webkit-scrollbar-thumb {
    border: 3px solid #2f2f37;
    border-radius: 6px;
    background: #8585ad;
  }

  .body::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  .body::-webkit-scrollbar-track {
    background: #2f2f37;
  }

  .body::-webkit-scrollbar-thumb {
    border: 3px solid #2f2f37;
    border-radius: 6px;
    background: #8585ad;
  }
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

body {
  composes: custom_scroll from global;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 80%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

svg,
img {
  display: block;
  width: auto;
  height: 100%;
}

#root {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

/* stylelint-disable-next-line selector-class-pattern */
.input__container,
.input_size_default {
  width: clamp(40ch, 30ch + 15vw, 60ch) !important;
}

.shadowed_text {
  text-shadow:
    0 0 8px #3333ff80,
    0 0 16px #3333ff40,
    0 8px 8px #3333ff40;
}

@media (min-width: variables.$breakpoint-md) {
  /* stylelint-disable-next-line selector-class-pattern */
  .input__container,
  .input_size_default {
    width: 480px !important;
  }
}
