@import "../node_modules/minireset.css/minireset.sass";

.custom_scroll {
  scrollbar-color: #8585ad #2f2f37;
  scrollbar-width: thin;
}

@supports selector(::-webkit-scrollbar) {
  .custom_scroll {
    scrollbar-color: auto;
    scrollbar-width: auto;
  }

  .custom_scroll::-webkit-scrollbar {
    width: 12px;
  }

  .custom_scroll::-webkit-scrollbar-track {
    background: #2f2f37;
  }

  .custom_scroll::-webkit-scrollbar-thumb {
    border: 3px solid #2f2f37;
    border-radius: 6px;
    background: #8585ad;
  }

  .body::-webkit-scrollbar {
    width: 12px;
  }

  .body::-webkit-scrollbar-track {
    background: #2f2f37;
  }

  .body::-webkit-scrollbar-thumb {
    border: 3px solid #2f2f37;
    border-radius: 6px;
    background: #8585ad;
  }
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

body {
  margin: 0;
  cursor: default;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-block-size: 100vh;
}
