@use "../../../styles/variables";

.container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem;
  gap: 2em;
}

.message {
  composes: text text_type_main-default from global;
}
