@use "../../styles/variables.scss";

.container {
  flex-grow: 1;
}

.ingredients {
  --height-delta: 300px;

  composes: custom_scroll from global;
  overflow: auto;
  max-block-size: calc(100vh - var(--height-delta));
}

@media (min-width: variables.$breakpoint-md) {
  .ingredients {
    --height-delta: 250px;
  }
}
