@use "../../styles/variables.scss";

.container {
  overflow: auto;
  flex-grow: 1;
  max-inline-size: 100vw;
}

.ingredients {
  composes: custom_scroll from global;
  overflow: auto;
  max-block-size: calc(100vh - 18rem);
  min-block-size: 50vh;
  padding-block-end: 3rem;
}

@media (min-width: variables.$breakpoint-md) {
  .ingredients {
    padding-block-end: auto;
  }
}
