@use "../../styles/variables";
@use "../../styles/colors";

.header {
  width: 100%;
  background-color: colors.$grey;
  margin-inline: auto;
}

.nav {
  composes: py-5 from global;
  display: grid;
  align-items: center;
  grid-area: nav;
  grid-template:
    "logo logo" auto
    "left right" auto / 2fr 1fr;
  margin-inline: auto;
  max-inline-size: variables.$app-max-inline-size;
}

.navPart {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: space-around;
  white-space: nowrap;
}

.centerNav {
  grid-area: logo;
}

@media (min-width: variables.$breakpoint-md) {
  .nav {
    align-items: center;
    grid-template-areas: "left logo right";
    grid-template-columns: repeat(3, 1fr);
  }

  .centerNav {
    composes: navPart;
    display: block;
    margin: auto;
  }

  .leftNav {
    composes: navPart;
    justify-content: flex-start;
  }

  .rightNav {
    composes: navPart;
    justify-content: flex-end;
    order: 1;
  }
}
