@use "../../styles/variables.scss";

.header {
  display: grid;
  width: 100%;
  grid-template: repeat(2, auto) / 1fr;
  grid-template-areas: "nav" "heading";
  margin-inline: auto;
  max-inline-size: variables.$app-max-inline-size;
}

.nav {
  composes: mb-8 from global;
  display: grid;
  align-items: center;
  grid-area: nav;
  grid-template: repeat(2, auto) / 2fr 1fr;
  grid-template-areas: "logo logo" "left right";
}

.navPart {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: space-around;
  white-space: nowrap;
}

.centerNav {
  grid-area: logo;
}

.heading {
  composes: text text_type_main-large mb-5 from global;
  grid-area: heading;
}

@media (min-width: variables.$breakpoint-md) {
  .nav {
    align-items: center;
    grid-template-areas: "left logo right";
    grid-template-columns: repeat(3, 1fr);
  }

  .centerNav {
    composes: navPart;
    display: block;
    margin: auto;
  }

  .leftNav {
    composes: navPart;
    justify-content: flex-start;
  }

  .rightNav {
    composes: navPart;
    justify-content: flex-end;
    order: 1;
  }
}
